#!/bin/bash
# Users of direnv can run `direnv allow .` here to automatically update the
# GOPATH to whatever directory this repository is cloned into, whenever they
# enter this directory or any descendent. https://direnv.net/
export GOPATH
GOPATH=$(pwd)
PATH_add bin
